@import '../../../styles/main';

.base {
  composes: base from "../../../components/ContentSection/ContentSection.scss";
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .errorContainer {
    background-color: white;
    border: $borderWidth $highlight solid;
    margin: 0 0 2vh;
    padding: 1vh;
    width: 50%;
    h3 {
      color: $highlight;
      margin: 0;
      text-align: center;
      width: 100%;
    }
  }
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  label {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
  }
  input {
    height: 50%;
  }
  form{
    >label {
      width: 100%;
      margin-top: $medium;
    }
  }
  textarea {
    resize: none;
  }
  input, textarea {
    border: $borderWidth solid $dark;
    margin-top: $small;
    padding: $small;
  }
  button {
    margin-top: $medium;
  }
}
