@import '../../../../styles/main';

.base {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 5vh;
  }
  @include landscape {
    width: 32%;
  }
  @include large {
    width: 32%;
  }
  .image {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba($lightText, .7);
  }
  .name {
    margin: 2vh 0 .1vh;
    border-bottom: $light $borderWidth solid;
    width: 50%;
    @include landscape {
      width: 100%;
    }
    @include large {
      width: 100%;
    }
    text-align: center;
    font-size: 1.6em;
  }
  .title {
    font-size: $textMedium;
    font-style: italic;
    margin-bottom: 2vh;
    text-align: center;
  }
  a, b {
    color: $light;
  }
  a:hover {
    cursor: pointer;
  }
  p {
    margin: .5vh 0;
  }
}
