@import '../../styles/main';

.login {
  padding: $small;
  margin-bottom: $small;
}

.errorContainer {
  background-color: white;
  border: $borderWidth $highlight solid;
  margin: 0 0 2vh;
  padding: 1vh;
  h3 {
    color: $highlight;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
