@import '../../../styles/main';

.base {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  padding: 0 4%;
  box-shadow: $dark 0 $small $medium;
  z-index: 1;
  background: $dark;
  width: 100%;
  font-size: 1vw;
  @include landscape {
    font-size: 1.2vw;
    width: 80%;
  }

  button {
    padding: $medium;
    background: transparent;
    color: $light;
    &:hover {
      background: $light;
      color: $highlight;
    }
  }
}
