@import '../../styles/main';

.base {
  background-color: $light;
  color: $highlight;
  padding: $small $medium;
  font-size: $textStandOut;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease .2s;
  transition-property: background-color, color, border;

  &:hover {
    background-color: $highlight;
    color: $light;
  }
}

.transparent {
  composes: base;
  border: $borderWidth solid transparent;

  &:hover, &.selected {
    background-color: transparent;
    color: $light;
    border-color: $light;
  }
}

.transparent-highlight {
  composes: transparent;
  background-color: $highlight;
  color: $light;

  &:hover {
    border-color: $highlight;
    color: $highlight;
  }

  &:disabled {
    background-color: $lightText;
    color: $light;

    &:hover {
      background-color: transparent;
      border-color: $lightText;
      color: $lightText;
    }
  }
}

.diamond {
  composes: base;
  padding: 0;
  width: $medium;
  height: $medium;
  transform: rotatey(45deg) rotateZ(45deg);
  background-color: transparent;
  color: $light;
  border: $borderWidth solid $light;

  &:hover, &.selected {
    border-color: transparent;
    background-color: $light;  
  }
}

.medium {
  composes: base;
  font-size: $textMedium * 1.25;
  padding: $small $large;
  border-width: 1.5 * $borderWidth;
}

.large {
  composes: base;
  font-size: $textLarge;
  font-weight: 900;
  padding: $medium $extraLarge;
  min-width: 40%;
  border-width: 2 * $borderWidth;
}

.imageButton {
  composes: base;
  background: none;
  padding: 0;

  &:hover {
    background-color: unset;
  }
}
