@import '../../styles/main';

.base {
  composes: base from "../../components/FlexContainer/FlexContainer.scss";
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 1 vh;
  }

  a {
    margin-bottom: 1vh;
    color: lighten($lightText, 20);

    &:hover {
      color: lighten($lightText, 50);
      cursor: pointer;
    }
  }

  img {
    border: none;
  }
}
