@import '../../styles/main';

.base {
  background-color: $highlight;
  padding: $large;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: $large;
  }
}
