@mixin notchBottom($startPercentage, $width: $notchWidth, $depth: $notchDepth) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, $startPercentage 100%, calc(#{$startPercentage} - #{$angleWidth}) calc(100% - #{$depth}), calc(#{$startPercentage} - #{$width} + #{$angleWidth}) calc(100% - #{$depth}), calc(#{$startPercentage} - #{$width}) 100%, 0 100%);
}

@mixin notchTop($startPercentage, $width: $notchWidth, $depth: $notchDepth) {
  clip-path: polygon(0 0, $startPercentage 0, calc(#{$startPercentage} + #{$angleWidth}) $depth, calc(#{$startPercentage} + #{$width} - #{$angleWidth}) $depth, calc(#{$startPercentage} + #{$width}) 0, 100% 0, 100% 100%, 0 100%);
}

@mixin notchBoth($topStartPercentage, $bottomStartPercentage, $topWidth: $notchWidth, $topDepth: $notchDepth, $bottomWidth: $notchWidth, $bottomDepth: $notchDepth) {
  clip-path: polygon(0 0, $topStartPercentage 0, calc(#{$topStartPercentage} + #{$angleWidth}) $topDepth, calc(#{$topStartPercentage} + #{$topWidth} - #{$angleWidth}) $topDepth, calc(#{$topStartPercentage} + #{$topWidth}) 0, 100% 0, 100% 100%, $bottomStartPercentage 100%, calc(#{$bottomStartPercentage} - #{$angleWidth}) calc(100% - #{$bottomDepth}), calc(#{$bottomStartPercentage} - #{$bottomWidth} + #{$angleWidth}) calc(100% - #{$bottomDepth}), calc(#{$bottomStartPercentage} - #{$bottomWidth}) 100%, 0 100%);
}

@mixin landscape() {
  @media (orientation: landscape) and (max-width: $breakpointLarge) {
    @content;
  }
}

@mixin large() {
  @media (min-width: $breakpointLarge + 1) {
    @content;
  }
}

@mixin landscapeAndAbove() {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin hexagonProperty($property, $multiplier, $extras: null) {
  #{$property}: calc(#{$multiplier} * #{$hexagonBaseMobile}) $extras;
  @include landscape {
    #{$property}: calc(#{$multiplier} * #{$hexagonBaseLandscape}) $extras;    
  }
  @include large {
    #{$property}: calc(#{$multiplier} * #{$hexagonBase}) $extras;    
  }
}
