$small: .5rem;
$medium: 1rem;
$large: 2rem;
$extraLarge: 3rem;


$textSmall: .5em;
$textMedium: 1em;
$textStandOut: 1.2em;
$textLarge: 1.75em;
$textLarger: 2.1em;
$textExtraLarge: 2.25em;

$borderWidth: 2px;
$containerPaddingHeight: 10vh;
$containerPaddingWidth: 10vw;

$notchDepth: 1rem;
$angleWidth: 1rem;
$notchWidth: 30%;

$skewDegrees: -15deg;

$breakpointMedium: 600px;
$breakpointLarge: 1000px;

$hexagonBase: 1.2vh;
$hexagonBaseLandscape: 1.8vh;
$hexagonBaseMobile: 1.5vw;
