@import '../../styles/main';

.base {
  padding: $containerPaddingHeight $containerPaddingWidth;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: $medium;
  }

  img {
    border: $borderWidth solid $highlight;
  }
}

.light {
  composes: base;
  background-color: transparent;
  
  p {
    color: $lightText;
    &:not(:first-of-type) {
      margin-top: $medium;
    }
  }
}

.dark {
  composes: base;
  background-color: $dark;
  color: $light;

  h2 {
    border-color: $light;
    color: $light;
    text-align: center;
  }

  p {
    color: $mediumText;
  }

  img {
    border: $borderWidth solid $light;
  }
}

.extraDark {
  composes: base;
  background-color: $text;
  color: $lightText;
}

.footer {
  padding-top: $containerPaddingHeight / 2;
  padding-bottom: $containerPaddingHeight / 2;
}

.image-right {
  display: flex;
  flex-direction: row;
  height: 100%; // IE 11

  > div {
    width: 60%;
    margin-right: 10%;
  }

  img {
    width: 30%;
  }

  h3 {
    color: $highlight;
    font-weight: 600;
    margin-bottom: $medium;
  }
}

.services h2 {
  width: 100%;
  text-align: center;
}

.splash {
  composes: base;
  background-size: cover;
  background-position-y: 20%;
  color: $light;
  height: 40vw;
  max-height: 80vh;
  box-shadow: $text 0 0 50vw 5vw inset;
  text-shadow: $dark 0 0 .3rem, $dark 0 0 $small, $dark 0 0 $medium;
  font-size: $textExtraLarge;

  div {
    text-align: center;
  }

  h1 {
    font-weight: 700;
    padding: 0 $large;
    border-bottom: $borderWidth solid $light;
  }
}

.column {
  composes: base;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: unset;

  >div {
    width: 33%;
    &:nth-child(2) {
      margin: 0 1vw;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }

  h3 {
    padding: 0 $medium $small;
    display: inline-block;
    border-bottom: $borderWidth solid $light;
  }

  button {
    margin-top: $extraLarge;
    min-width: 80%;
  }
}

.carousel {
  composes: base;
  background-image: url('/static/home/carousel.jpg');
  background-size: cover;
  color: $light;
  box-shadow: $text 0 0 50vw 5vw inset;
}

.notch-both {
  @include notchBoth(10%, 80%, 40%);
}

.notch-bottom-left {
  @include notchBottom(50%, 30%);
}

.notch-bottom-right {
  @include notchBottom(110%);
}

.notch-top-center {
  @include notchTop(40%, 50%);
}

.notch-top-left {
  @include notchTop(-10%, 30%);
}

table {
  table-layout: fixed;
  width: 90%;
  @include landscape {
    width: 75%;  
  }
  @include large {
    width: 60%;
  }
  border-collapse: collapse;
  &:not(:last-child) {
    margin-bottom: 5vh;
  }
}

td {
  margin: 0;
  padding: $small;
  text-align: right;
  &:nth-child(2n) {
    text-align: left;
  }
}

tr {
  background-color: $light;
  &:nth-of-type(2n) {
    background-color: $dark;
    color: $light;
  }
}
