@import '../../styles/main';

.base {
  composes: base from "../Button/Button.scss";
  color: $text;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
  padding: 1rem 0;
  width: 6rem;
  font-size: $textMedium;
  text-align: center;
  transform: skewX($skewDegrees);
  cursor: pointer;
  border-right: $borderWidth solid $highlight;
  &:nth-last-of-type(1) {
    border: none;
    padding-right: 2rem;
    box-sizing: content-box;
  }
}

.base:hover, .base:focus, .base.active {
  background-color: $highlight;
  color: $light;
}
