:global{
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

:global{
  input, textarea, select, button {
    padding: 0;
    border: none;
    font-size: unset;
  }
}

:global{
  h2 {
    color: $highlight;
    border-bottom: $borderWidth solid $highlight;
    font-style: italic;
    font-size: $textLarger;
    font-weight: 600;
    padding: 0 2vw $small;
    margin-bottom: $large;
    word-break: keep-all;
  }

  h3 {
    font-size: $textLarge;
    font-weight: 400;
  }
}

:global(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
}
