:global{
  body {
    background-color: $light;
  }

  input, textarea, select, button {
    padding: 0;
    border: none;
    font-size: unset;
  }

  html, body, input, textarea, select, button {
    font-family: $fontStack;
  }

  .full-width {
    width: 100%;
  }

  .quarter-width {
    width: 25%;
  }
}
