@import '../../styles/main';

.base {
  @include hexagonProperty(width, 5.5);
  @include hexagonProperty(height, 9);
  @include hexagonProperty(top, -4.5);
  @include hexagonProperty(left, -2.75);
  background: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light;
  font-size: $textExtraLarge;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 0;
    height: 0;
    @include hexagonProperty(border-top, 4.5, solid transparent);
    @include hexagonProperty(border-bottom, 4.5, solid transparent);
  }

  &:before {
    @include hexagonProperty(left, -2.5);
    @include hexagonProperty(border-right, 2.5, solid $dark);
  }

  &:after {
    @include hexagonProperty(right, -2.5);
    @include hexagonProperty(border-left, 2.5, solid $dark);
  }
}
