@import '../../styles/main';

.base {
  position: absolute;
  background-color: $light;
  z-index: 10;
  padding: $large $large $medium $extraLarge;
  margin-left: -2rem;
  margin-top: -1rem;
  transform: skewX(2 * $skewDegrees);
  line-height: 0;
  box-shadow: $dark $small $small $medium;
  cursor: pointer;
}

.base img {
  width: 12rem;
  transform: skewX(-2 * $skewDegrees);
}
