@import '../../../styles/main';

.base {
  background-color: $highlight;
  padding: $large;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-style: italic;
    font-weight: 700;
  }

  .full {
    width: 100%;
    justify-content: space-between;
    >div {
      width: 30%;
      font-size: $medium;
    }
  }

  svg {
    fill: white;
    width: 100%;
    height: 15vh;
    padding: $small;
  }
}
