@import '../../styles/main';

.base {
  display: flex;
  justify-content: flex-end;
  margin-right: -2%;
  flex-wrap: nowrap;
  width: 105%;
  box-shadow: $dark 0 $small $medium;
  border-top: 6px $highlight solid;
  z-index: 1;
}
