@import '../../styles/main';

.base {
  composes: base from "../../components/FlexContainer/FlexContainer.scss";

  align-items: center;
  margin-bottom: $small;
  flex-wrap: wrap;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 50%;

    > button, > img, > button > img {
      width: 100%;
    }

    .logo {
      width: 80%
    }
  }

  .contact {
    flex-grow: 2;
  }

  .bbbLink {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    img {
      width: 60%;
    }
  }

  p {
    font-size: $textMedium;
    white-space: pre-line;
  }

  @include landscapeAndAbove {
    width: 80%;

    > div {
      width: 25%;
    }

    .bbbLink img {
      width: 80%;
    }
  }
  
  @include large {
    .bbbLink img {
      width: unset;
    }
  }
}
