@import '../../styles/main';

.base {
  display: flex;
  justify-content: space-between;
}

.column {
  composes: base;
  flex-direction: column;
  align-items: center;
}

.app {
  composes: column;
  background-color: $light;
  color: $text;
  overflow: hidden;
  min-height: 100vh;
}

.wrap {
  composes: base;
  flex-wrap: wrap;
  width: 100%;
}
